In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [196]:
data=pd.read_csv("C:\\Users\\Arsal\\Desktop\\Kaggle\\train_identity.csv")
print(data.shape)
null_values=pd.DataFrame(data.iloc[:,:].isna().sum())
null_values.columns=["count"]
null_values=null_values.sort_values('count', ascending=False)
null_values["percent"]=(null_values/data.shape[0])*100
null_values.head()
col_excl=null_values[(null_values.percent > 70) & (null_values.percent>0)]
columns_to_drop=list(col_excl.index)
df=data.drop(columns_to_drop,axis=1, inplace=False)
df.head()

(144233, 41)

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_09,id_10,id_11,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987004,0.0,70787.0,NaN,NaN,NaN,NaN,NaN,NaN,100.0,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
1,2987008,-5.0,98945.0,NaN,NaN,0.0,-5.0,NaN,NaN,100.0,...,mobile safari 11.0,32.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device
2,2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows
3,2987011,-5.0,221832.0,NaN,NaN,0.0,-6.0,NaN,NaN,100.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,NaN
4,2987016,0.0,7460.0,0.0,0.0,1.0,0.0,0.0,0.0,100.0,...,chrome 62.0,24.0,1280x800,match_status:2,T,F,T,T,desktop,MacOS

In [209]:
"""Check outliers"""
def outlier(df,col_name):
    box_plot=df.box_plot(column=['col_name'])
    return box_plot

In [ ]:
"""seperating data frame into categorical, numerical and ordinal"""

In [241]:
# df.box_plot(column=["id_02"])
"""one hot enciding of string variables
First we identify the columns containing the string variables then we will code them using one-hot encoding"""
# df[df.dtypes == 'object']
df_str=df.loc[:, df.dtypes == object]
df_str.columns
pd.get_dummies(df)
# df.id_11.value_counts()
# df.DeviceInfo.value_counts()

100.000000    133162
95.080002       1231
95.160004        754
97.120003        440
96.669998        333
95.650002        286
96.190002        241
94.290001        228
93.550003        204
96.470001        162
94.050003        133
96.720001        132
97.139999        120
94.199997        112
97.620003        106
96.430000        101
97.500000         98
93.330002         87
94.120003         83
97.059998         83
96.230003         82
95.769997         74
96.739998         70
95.699997         64
97.519997         57
97.169998         56
94.440002         52
94.370003         51
90.199997         50
96.550003         49
               ...
94.949997          1
94.930000          1
90.849998          1
98.370003          1
91.300003          1
91.739998          1
90.830002          1
91.580002          1
92.230003          1
92.449997          1
97.269997          1
92.050003          1
92.129997          1
97.330002          1
97.349998          1
95.150002          1
92.110001          1
97.400002          1
98.430000          1
92.239998          1
98.930000          1
95.070000          1
91.879997          1
90.279999          1
95.309998          1
97.870003          1
97.660004          1
95.040001          1
91.949997          1
94.169998          1
Name: id_11, Length: 365, dtype: int64

In [216]:
Q1 = df.id_02.quantile(0.25)
Q3 = df.id_02.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

160757.0

In [49]:
null_values["percent"]=(null_values/data.shape[0])*100

In [217]:
print(df.id_02 < (Q1 - 1.5 * IQR)) |(df.id_02 > (Q3 + 1.5 * IQR))

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
144203    False
144204    False
144205    False
144206    False
144207    False
144208    False
144209    False
144210    False
144211    False
144212    False
144213    False
144214    False
144215    False
144216    False
144217    False
144218    False
144219    False
144220    False
144221    False
144222    False
144223    False
144224    False
144225    False
144226    False
144227    False
144228    False
144229    False
144230    False
144231    False
144232    False
Name: id_02, Length: 144233, dtype: bool

TypeError: cannot compare a dtyped [bool] array with a scalar of type [NoneType]

In [104]:
data.head()

,TransactionID,id_01,id_07,id_08,id_12,id_21,id_22,id_23,id_24,id_25,id_26,id_27
0,2987004,0.0,NaN,NaN,NotFound,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987008,-5.0,NaN,NaN,NotFound,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987010,-5.0,NaN,NaN,NotFound,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987011,-5.0,NaN,NaN,NotFound,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987016,0.0,NaN,NaN,NotFound,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
data.drop(col_excl)

KeyError: "['id_18' 'id_03' 'id_04' 'id_33' 'id_09' 'id_10' 'id_30' 'id_32' 'id_34'\n 'id_14' 'DeviceInfo' 'id_13' 'id_16' 'id_06' 'id_05' 'id_20' 'id_19'\n 'id_17' 'id_31' 'DeviceType' 'id_02' 'id_28' 'id_29' 'id_11' 'id_15'\n 'id_35' 'id_36' 'id_37' 'id_38'] not found in axis"